<!-- ##############################底部导航#################################-->
<!--<div class="swimlane" style="background-color: #525F69;" id="footer_menu">
    <div class="container">
        <h4 class="text-white mt-0 font-weight-bold">浙江大学平衡建筑研究中心</h4>
        <hr align="left" class="divider my-4" style="border-color: #ffffff;">

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <p class="text-white">研究中心</p>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">中心简介</a></li>
                    <li><a href="#" class="text-white-50">愿景使命</a></li>
                    <li><a href="#" class="text-white-50">组织架构</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <p class="text-white">科研管理</p>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">办事流程</a></li>
                    <li><a href="#" class="text-white-50">提案征集</a></li>
                    <li><a href="#" class="text-white-50">科研立项</a></li>
                    <li><a href="#" class="text-white-50">成果公示</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="text-white">研究成果</p>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">参编标准</a></li>
                    <li><a href="#" class="text-white-50">成果鉴定</a></li>
                    <li><a href="#" class="text-white-50">专利专著</a></li>
                    <li><a href="#" class="text-white-50">科研项目</a></li>
                    <li><a href="#" class="text-white-50">论文发表</a></li>
                    <li><a href="#" class="text-white-50">国际获奖</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="text-white">中心动态</p>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">科研动态</a></li>
                    <li><a href="#" class="text-white-50">专题活动</a></li>

                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <p class="text-white">招生招聘</p>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">科研人员招聘</a></li>
                    <li><a href="#" class="text-white-50">行政人员招聘</a></li>
                    <li><a href="#" class="text-white-50">博士后招聘</a></li>
                </ul>
            </div>
        </div>



    </div>
</div>-->

<!-- Footer -->
<footer class="bg-dark py-5" style="border-top: 0px solid #ffc601;">
    <div class="container bg-dark">
        <div class="text-center text-light">Copyright &copy; 2020 - Zju Balance Arc</div>
    </div>
</footer>