<script src="${request.contextPath}/static/libs/jquery.min.js"></script>
<script src="${request.contextPath}/static/libs/popper.min.js"></script>
<script src="${request.contextPath}/static/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/static/libs/bootstrap-table.min.js"></script>
<script src="${request.contextPath}/static/libs/vue.min.js"></script>
<script src="${request.contextPath}/static/plugins/layer/layer.js"></script>
<!--<script src="${request.contextPath}/static/plugins/layui/layui.all.js"></script>-->
<script src="${request.contextPath}/static/js/common.js"></script>