<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>平衡建筑研究中心首页</title>
    <#include "/header.html">
    <!--<link rel="stylesheet" href="${request.contextPath}/static/css/page.css">
    <link rel="stylesheet" href="${request.contextPath}/static/css/main.css">-->

    <style>

    </style>
</head>
<body>

<#include "/top.html">

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1" ></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="image/1.jpg" class="d-block w-100"
                 alt="...">
        </div>
        <div class="carousel-item">
            <img src="image/2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <!--<h5>第二张图标题</h5>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            </div>
        </div>
        <div class="carousel-item">
            <img src="image/3.jpg" class="d-block w-100"
                 alt="...">
            <div class="carousel-caption d-none d-md-block">
                <!--<h5>第三张图标题</h5>-->
                <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- ##############################研究中心#################################-->
<div class="container-fluid swimlane" style="background-color: #E6E7E9;">
    <div class="container" >
        <h4 class="text-black mt-0 font-weight-bold">研究中心<span class="text-muted ml-4">Research Center</span>
        </h4>
        <hr align="left" class="divider my-4" style="border-color: #000000;">
        <div class="row">

            <p class="text-white-75 mb-4" style="font-family: 微软雅黑; line-height: 2em;">
                浙江大学平衡建筑研究中心（以下简称“中心”）是由浙江大学与浙江大学建筑设计研究院有限公司（以下简称“设计院”）共同建设的校设研究机构，设计院董事长兼首席总建筑师董丹申任中心主任，
                副总经理王健任中心副主任。设计院出资支持该研究中心的建设和发展。
            </p>
            <p class="text-white-75 mb-4" style="font-family: 微软雅黑; line-height: 2em;">
                围绕国家科技创新发展战略，中心挂靠浙江大学的科学技术研究院，依托于浙江大学相关学院的学科资源，集聚一批专兼结合的国内外高水平研究队伍，协同推出校企共享的高质量学术成果。
            </p>
            <!--<div id="introlittle">
                <p class="text-white-75 mb-4" style="font-family: 微软雅黑; line-height: 2em;">......</p>
            </div>-->

            <div id="intromore" style="">
                <p class="text-white-75 mb-4" style="font-family: 微软雅黑; line-height: 2em;">
                    中心以“平衡建筑”理论为指引，协同浙江大学建筑规划学科联盟，聚焦建筑类（大土木）学科的重大研究领域，将围绕重点领域开展前瞻性与应用性的研究；同时也将着手开展构建高水平的国际化学术技术交流平台与合作、
                    高水平研究型人才队伍的引入与培养机制，参与各地重大标志性工程的前期研究与咨询，开展硕士和博士研究生培养以及学科教学实践与指导等学科建设工作。
                </p>
                <p class="text-white-75 mb-4" style="font-family: 微软雅黑; line-height: 2em;">
                    中心作为设计院支持浙江大学学科建设的新平台，其成立充分体现了设计院发挥浙江大学学科综合优势，全面打造浙江大学建筑类（大土木）相关学科领域新高地的决心，也将为学校“双一流”建设作出校级学科性企业特殊的贡献。
                    期待通过高品位的文化，高宽远的视野，高效能的管理，高层次的人才，高精专的技术，高质量的作品，支持一流学科与一流设计院的建设，构筑产学研协同创新的示范基地。
                </p>
            </div>
            <br>

        </div>
        <!--<div class="text-center">
            <button class="btn btn-secondary text-center" type="button" id="getmore">GET MORE</button>
        </div>-->
    </div>
</div>

<!-- ##############################科研管理#################################-->
<div class="container-fluid swimlane" style="background-image: url('image/科研管理.jpg')">
    <div class="container">
        <h4 class="text-white mt-0 font-weight-bold">科研管理<span
                class="text-white-50 ml-4">Research Management</span></h4>
        <hr align="left" class="divider my-4" style="border-color: #ffffff;">
        <div class="row justify-content-center text-white mt-5" style="font-size: 20px;">
            <div class="col-8">
                科研制度
            </div>
            <div class="col-4">
                公示公告
            </div>
            <!--<br><br><br><br>
            <div class="col-8">
                科研立项
            </div>
            <div class="col-4">
                成果公示
            </div>-->
        </div>
    </div>
</div>

<!-- ##############################研究成果#################################-->
<div class="container-fluid swimlane">
    <div class="container">
        <h4 class="text-black mt-0 font-weight-bold">研究成果<span class="text-muted ml-4">Research Results</span></h4>
        <hr align="left" class="divider my-4" style="border-color: #000000;">

      <!--  <div class="row">
            &lt;!&ndash; Nav tabs &ndash;&gt;
            <ul class="nav nav-tabs custom" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#award_achievement">获奖成果</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">科学研究</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">教学研究</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu3">国际合作</a>
                </li>
            </ul>

            &lt;!&ndash; Tab panes &ndash;&gt;
            <div class="tab-content">
                <div id="award_achievement" class="container-fluid tab-pane active m-0 p-0">

                    <div class="album py-1 bg-light">
                        <div class="">

                            <div class="row">
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-1.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-2.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-3.jpg" class="img-thumbnail">
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-4.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-5.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-6.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-7.jpg" class="img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <div class="card mb-3 shadow-sm">
                                        <img src="image/项目-8.jpg" class="img-thumbnail">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div id="menu1" class="container tab-pane fade">
                    <br>
                    <h3></h3>
                    <p></p>
                </div>

                <div id="menu2" class="container tab-pane fade">
                    <br>
                    <h3></h3>
                    <p></p>
                </div>


            </div>

        </div>
-->
    </div>
</div>





<!-- ##############################招生招聘#################################-->
<div class="container-fluid swimlane" style="background-color: #E6E7E9;">
    <div class="container" >
        <h4 class="text-black mt-0 font-weight-bold">招生招聘<span class="text-muted ml-4">Employ</span>
        </h4>
        <hr align="left" class="divider my-4" style="border-color: #000000;">
        <div class="">

            <h4 class="text-center">
                研究生教学管理和奖励方案简介
            </h4>

            <br>
            <p class="text-white-75 mb-4" style="text-indent: 2em; font-family: 微软雅黑; line-height: 2em;">为了落实浙江大学平衡建筑研究中心（以下简称“中心”）的人才战略，推行理论研究与工程实践相结合的理念，开展独立培养或与浙江大学相关学院联合培养硕士、博士研究生工作，支持学院导师参与联合培养，为研究生设立助学金、奖学金，奖励优秀成果，以加强科教融合和产教融合，支持学科建设和人才培养。</p>
            <p class="text-white-75 mb-4" style="text-indent: 2em; font-family: 微软雅黑; line-height: 2em;">研究生培养总体依托相关学科，思政教育、学籍管理、学位授予纳入相关学院（系）和学位评定体系。</p>
            <p class="text-white-75 mb-4" style="text-indent: 2em; font-family: 微软雅黑; line-height: 2em;">中心导师由浙江大学建筑设计研究院有限公司（以下简称“设计院”）资深的高级工程师及以上专业技术职务人员经相关学科认定后担任；学院教师担任第二导师的，通过中心校内兼聘给予教学津贴，同等条件下在中心申请项目时给予优先考虑。</p>
            <p class="text-white-75 mb-4" style="text-indent: 2em; font-family: 微软雅黑; line-height: 2em;">所有研究生在中心均有独立办公位和配套设施，有机会参与重大工程项目设计、科学研究项目、国际学术交流和外出考察调研等活动。</p>
            <p class="text-white-75 mb-4" style="text-indent: 2em; font-family: 微软雅黑; line-height: 2em;">中心导师独立培养和作为第一导师培养的研究生，都将获得中心额外发放的助学金；中心设立奖学金，每学年评审奖励一次；研究生发表论文、出版专著、申请发明专利和参加各种大型赛事、设计竞赛等活动，中心均给予补助和奖励。</p>
            <p class="text-white-75 mb-4" style="text-indent: 2em; font-family: 微软雅黑; line-height: 2em;">表现优秀的研究生毕业后直接推荐到设计院工作，并优先参加设计院雏鹰计划的选拔；表现优秀的博士研究生优先推荐到设计院做博士后研究。</p>

        </div>
        <br>
        <br>
        <div class="text-center">
            <div class="text-center">
                <button class="btn btn-secondary text-center m-2" type="button" id="jzInfo">建筑设计与建筑技术组</button>
                <button class="btn btn-secondary text-center m-2" type="button" id="jgsbjInfo">岩土结构与土木水利（防灾、微环境）组</button>
                <button class="btn btn-secondary text-center m-2" type="button" id="yljzInfo">园林与建筑组</button>
                <button class="btn btn-secondary text-center m-2" type="button" id="jsjInfo">计算机组</button>
            </div>
        </div>
    </div>
</div>

<!-- ##############################中心动态#################################-->
<div class="container-fluid swimlane">
    <div class="container">
        <h4 class="text-black mt-0 font-weight-bold">中心动态<span class="text-muted ml-4">Center Trends</span></h4>
        <hr align="left" class="divider my-4" style="border-color: #000000;">
        <!--<div class="row">
            &lt;!&ndash; Nav tabs &ndash;&gt;
            <ul class="nav nav-tabs custom" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#academic_trends">科研动态</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#thematic_activities">专题活动</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#center_brief">中心简报</a>
                </li>
            </ul>

        </div>-->

        <div id="" class="container m-0 p-0">
            <div class="album py-1 bg-light">
                <div class="">

                    <div class="card mb-5" style="width: 100%;">
                        <!--<div class="card-header">
                        </div>-->
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item" style="cursor: pointer;" id="one">2020年第1期平衡中心简报<span class="float-right">2020年1月31日</span></li>
                            <li class="list-group-item" style="cursor: pointer;" id="two">2020年第2期平衡中心简报<span class="float-right">2020年2月29日</span></li>
                            <li class="list-group-item" style="cursor: pointer;" id="three">2020年第3期平衡中心简报<span class="float-right">2020年3月31日</span></li>
                            <li class="list-group-item" id="four"><a href="news_detail.html" style="color: black;">浙江大学平衡建筑研究中心成立<span class="float-right">2020年4月27日</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--
    <div class="container-fluid mt-1" align="center">
        &lt;!&ndash; Tab panes &ndash;&gt;
        <div class="tab-content">
            <div id="academic_trends" class="container tab-pane m-0 p-0 fade">

                <div class="album py-1 bg-light">
                    <div class="">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="image/新闻-1.jpg" class="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="image/新闻-2.jpg" class="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="image/新闻-3.jpg" class="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="thematic_activities" class="container tab-pane m-0 p-0 fade">
                <div class="album py-1 bg-light">
                    <div class="">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <a href="news_detail.html">
                                        <img src="image/新闻-4.jpg" class="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div id="center_brief" class="container tab-pane m-0 p-0 active">
                <div class="album py-1 bg-light">
                    <div class="">

                        <div class="card mb-5" style="width: 100%;">
                            &lt;!&ndash;<div class="card-header">
                            </div>&ndash;&gt;
                            <ul class="list-group list-group-flush text-left">
                                <li class="list-group-item" style="cursor: pointer;" id="one">2020年第1期平衡中心简报<span class="float-right">2020年1月31日</span></li>
                                <li class="list-group-item" style="cursor: pointer;" id="two">2020年第2期平衡中心简报<span class="float-right">2020年2月29日</span></li>
                                <li class="list-group-item" style="cursor: pointer;" id="three">2020年第3期平衡中心简报<span class="float-right">2020年3月31日</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
-->

</div>

<!-- ##############################关于我们#################################-->
<div class="swimlane" style="background-color: #353F47;">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 text-white">
                <h4 class="text-white mt-0 font-weight-bold">关于我们<span class="text-muted ml-4">About Us</span></h4>
                <hr align="left" class="divider my-4" style="border-color: #ffffff;">


                <div id="">
                    <div class="text-white" style="font-size: 20px; position: relative; left: 3%; top: 30%;">
                        <!--<h4 class="text-white mt-0 font-weight-bold">联系我们<span class="text-white-50 ml-4">Contact Us</span></h4>
                        <hr align="left" class="divider my-4" style="border-color: #ffffff;">-->
                        <p>联系电话：0571-85891009</p>
                        <p>办公地址：浙江省杭州市西湖区天目山路148号邵逸夫楼</p>
                        <p>办公邮箱：bac@zju.edu.cn</p>

                    </div>

                </div>

                <!--<a href="#" class="text-white" style="text-decoration: none;">
                    <h5>科研人员招聘</h5>
                </a>
                <br>
                <br>
                <a href="#" class="text-white" style="text-decoration: none;">
                    <h5>行政人员招聘</h5>
                </a>
                <br>
                <br>
                <a href="#" class="text-white" style="text-decoration: none;">
                    <h5>博士后招聘</h5>
                </a>-->
            </div>
            <div class="col-sm-6">
                <!--<img src="image/加入我们.jpg" alt="join us" class="screenshot">-->


                <div id="carouselAboutUs" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselAboutUs" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselAboutUs" data-slide-to="1"></li>
                        <li data-target="#carouselAboutUs" data-slide-to="2"></li>
                        <li data-target="#carouselAboutUs" data-slide-to="3"></li>
                        <li data-target="#carouselAboutUs" data-slide-to="4"></li>
                        <li data-target="#carouselAboutUs" data-slide-to="5"></li>
                        <li data-target="#carouselAboutUs" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="image/aboutus/1.jpg" class="d-block w-100"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--&lt;!&ndash;<h5>第一张图标题</h5>&ndash;&gt;
                                &lt;!&ndash;<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>&ndash;&gt;-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="image/aboutus/2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>第二张图标题</h5>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="image/aboutus/3.jpg" class="d-block w-100"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>第三张图标题</h5>-->
                                <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="image/aboutus/4.jpg" class="d-block w-100"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>第三张图标题</h5>-->
                                <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="image/aboutus/5.jpg" class="d-block w-100"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>第三张图标题</h5>-->
                                <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="image/aboutus/6.jpg" class="d-block w-100"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>第三张图标题</h5>-->
                                <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="image/aboutus/7.jpg" class="d-block w-100"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>第三张图标题</h5>-->
                                <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselAboutUs" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAboutUs" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>



</div>

<!-- ##############################联系我们#################################-->
<div style="position: relative;">
    <div id="company_location" style="height: 360px;" class="container-fluid">

    </div>



    <!--<div id="map_layer" style="top: 0; left: 0; position: absolute; width: 100%; height: 100%; overflow: hidden; background-color: rgba(8,8,8,0.6); ">
        <div class="text-white" style="font-size: 20px; position: relative; left: 20%; top: 20%;">
            <h4 class="text-white mt-0 font-weight-bold">联系我们<span class="text-white-50 ml-4">Contact Us</span></h4>
            <hr align="left" class="divider my-4" style="border-color: #ffffff;">
            <p>联系电话：0571-85891030</p>
            <p>办公地址：浙江省杭州市西湖区天目山路148号邵逸夫楼</p>
            <p>办公邮箱：yfdlx@zju.edu.cn</p>

        </div>

    </div>-->
</div>


<#include "/bottom.html">

<#include "/footer.html">

<script type="text/javascript">


    $(function () {

        $("#one").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/2020年第1期平衡中心简报WJ.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#two").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/2020年第2期平衡中心简报WJ.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#three").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/2020年第3期平衡中心简报WJ.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });
/*
        $("#four").click(function () {

        });*/

        // $('#router').load('./test.html');

        $("#getmore").click(function () {
            $("#introlittle").hide();
            $("#intromore").show();
        });


        $("#jzInfo").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/建筑设计与建筑技术组.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#jgsbjInfo").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/岩土结构与土木水利（防灾、微环境）组.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#yljzInfo").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/园林与建筑组.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#jsjInfo").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/计算机组.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

    });
</script>

<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=cfqGT0KNGZh7uBM0NWzfMVLQqXbvf5OO"></script>

<script>
    // GL版命名空间为BMapGL
    // 按住鼠标右键，修改倾斜角和角度
    var map = new BMapGL.Map("company_location");    // 创建Map实例


    var point = new BMapGL.Point(120.14818642, 30.27916446);
    map.centerAndZoom(point, 15);  // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    //var new_point = new BMapGL.Point(120.14847542,30.27832446);
    var marker = new BMapGL.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中

    var opts = {
        position : point,    // 指定文本标注所在的地理位置
        offset   : new BMapGL.Size(-100, -100)    //设置文本偏移量
    };
    var label = new BMapGL.Label("浙江大学（西溪校区）", opts);  // 创建文本标注对象
    label.setStyle({
        paddingLeft: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        border: 'white',
        color : 'black',
        fontSize : '20px',
        height : '60px',
        lineHeight : '60px',
        fontFamily: '微软雅黑',
        opacity: 0.6,
        fontWeight: 'bolder'
    });
    map.addOverlay(label);
</script>

</body>
</html>