<!DOCTYPE html>
<html lang="en">
<head>
    <title>科研制度</title>
    <#include "/header.html">

</head>
<body>
<#include "/top.html">

<!-- ##############################科研制度#################################-->
<div class="container-fluid swimlane">
    <div class="container">
        <h4 class="text-black mt-0 font-weight-bold">科研制度<span class="text-muted ml-4">Research Institution</span></h4>
        <hr align="left" class="divider my-4" style="border-color: #000000;">
        <div id="" class="container m-0 p-0">
            <div class="album py-1 bg-light">
                <div class="">

                    <div class="card mb-5" style="width: 100%;">
                        <!--<div class="card-header">
                        </div>-->
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item" style="cursor: pointer;" id="one">平衡中心发【2020】9号：科技成果知识产权与著作出版管理办法<span class="float-right">2020年6月30日</span></li>
                            <li class="list-group-item" style="cursor: pointer;" id="two">平衡中心发【2020】8号：科研项目管理办法<span class="float-right">2020年6月30日</span></li>
                            <li class="list-group-item" style="cursor: pointer;" id="three">平衡中心发【2020】7号：自主立项科研项目管理细则<span class="float-right">2020年6月30日</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>




</div>


<#include "/bottom.html">

<#include "/footer.html">


<script>
    $(function () {

        $("#three").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/科研制度/（外部稿）平衡中心发【2020】7号：自主立项科研项目管理细则.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#two").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/科研制度/（外部稿）平衡中心发【2020】8号：科研项目管理办法.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

        $("#one").click(function () {
            let pdf = '${request.contextPath}/static/myfiles/科研制度/（外部稿）平衡中心发【2020】9号：科技成果知识产权与著作出版管理办法.pdf';
            window.open('${request.contextPath}/static/plugins/pdf/web/viewer.html?file=' + pdf, 'PDF');
        });

    });
</script>


</body>
</html>